<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1> Categoria</h1>
  <h2>{{Category}}</h2>
  {% for p in post %}
    <hr>
    <p> Nombre Producto: {{p.title}}</p>
    <p> Fecha Publicación: {{p.published | date:"SHORT_DATE_FORMAT"}}</p>
    <p> Detalle: {{p.content}}</p>
    <p> Autor: {{p.author}}</p>
    <p> Categoria: {{p.classification.all | join:", "}}</p>
    <br>
  {% endfor %}
</body>
</html>