<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "core/bases.html" %}
    {% block content %}
    <h1>Bienvenido a la galeria</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deleniti, sunt ea quod nulla, asperiores eius, deserunt mollitia est soluta dicta fuga dolor? Itaque odit aliquid asperiores tempore minus deserunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia corporis neque inventore porro ipsam, laborum culpa perspiciatis repudiandae. Aperiam consectetur molestiae porro numquam provident eligendi ipsum officia, nobis rerum possimus.</p>
    {%endblock%}
</body
</html>