{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<h1>Bienvenido a Nuestra Tienda de Mascotas</h1>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, incidunt sit nemo ipsam animi provident quae eius. Odio illum libero nobis necessitatibus cupiditate velit odit veritatis officia quam! Optio, magni.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur non ipsam voluptatum consequatur a mollitia vero eius pariatur neque. Architecto perferendis soluta voluptatem neque error quo recusandae? Amet, libero praesentium.</p>
       
{% endblock %}
{% block rightimg %}
<img src="{% static 'core/imagenes/col_derch.jpg' %}" alt="">
{% endblock %}
            