<!DOCTYPE html>
<html>
<head>
<title>CSS Portal - Layout</title>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="../css/1725556999.css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
           <img src="../imagenes/banner.jpg" alt="">
        </div>
        <div id="navigation">
            <ul>
                <li><a href="inicio.html">Inicio</a></li>
                <li><a href="tienda.html">Tienda</a></li>
                <li><a href="reco.html">Recomendaciones</a></li>
                
            </ul>

        </div>
        <div id="leftcolumn">
            <img src="../imagenes/col_izq.jpg" alt="">
        </div>
        <div id="content">
            <h1>Cuida a tus Mascotas</h1>
            <h2>Los mejores consejos</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, incidunt sit nemo ipsam animi provident quae eius. Odio illum libero nobis necessitatibus cupiditate velit odit veritatis officia quam! Optio, magni.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur non ipsam voluptatum consequatur a mollitia vero eius pariatur neque. Architecto perferendis soluta voluptatem neque error quo recusandae? Amet, libero praesentium.</p>
        </div>
        <div id="rightcolumn">
            <img src="../imagenes/col_derch.jpg" alt="">
        </div>
        <div id="footer">
            <img src="../imagenes/footer.jpg" alt="">
        </div>
    </div>
</body>
</html>
