{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<h1>Nuestra Tienda de mascotas Es la mejor</h1>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, incidunt sit nemo ipsam animi provident quae eius. Odio illum libero nobis necessitatibus cupiditate velit odit veritatis officia quam! Optio, magni.</p>
<p>Es la tienda</p>
<p>Prueba cambio de texto</p>
<hr>
{% endblock %}
{% block rightimg %}
<img src="{% static 'core/imagenes/derecha_tienda.jpg' %}" alt="">
{% endblock %}
       